.grid-container {
    position: absolute;
    top: 36%;
    left: 700px;
    transform: translateX(-50%);
    width: 80%;
  }
  
  .color-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Reduce the gap for a more compact layout */
  }
  
  .color-grid-item {
    position: relative;
    overflow: hidden;
    width: calc(33.3333% - 10px); /* Adjust the width as needed */
    padding-bottom: calc(33.3333% - 10px); /* Maintain a square aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .color-grid-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    z-index: 1;
  }
  .image-container {
    position: absolute;
    top: 36%;
    left: 700px;
    transform: translateX(-50%);
    width: 80%;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Reduce the gap for a more compact layout */
  }
  
  .image-grid-item {
    position: relative;
    overflow: hidden;
    width: calc(33.3333% - 10px); /* Adjust the width as needed */
    padding-bottom: calc(33.3333% - 10px); /* Maintain a square aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .image-grid-item img {
    width: 90px; /* Make sure the image takes up 100% of the container */
    height: 90px; /* Maintain a square aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 10px; /* Match the border-radius of the container */
  }
  
  .image-grid-item p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    margin: 0;
    z-index: 1;
  }
  
  
  