/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', serif; 
    color: #141111;
    background-color: #f3f0e9; /* Adjust the color as needed */
}


.input-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 10vh; /* Make the container take up the full viewport height */
  background-image: url('/concrete.jpg'); /*  */
  /*background-color: #f2f2f2;*/ 
}

/* Define a CSS class for input fields */
.input-field {
  width: 50%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.3s;
  margin: 0 auto;
}

/* Add a focus style */
.input-field:focus {
  border-color: #007bff;
}

.pro-grid {
  position: absolute;
  top: 50%;
  left: 0%; /* Adjust as needed to move it to the right */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding:15px;
  border-radius: 10px;
}

.pro-card {
  border: 1px solid #ddd;
  padding: 10px;
}



