/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', serif; 
    color: #141111;
    background-color: #f3f0e9; /* Adjust the color as needed */
}


.input-container {
  display: flex;
  flex-direction: column; /* Change to column layout */
  top: 100%; /* Center vertically */
  margin-left: 80vh; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  height: 10vh;
  background-color: #f3f0e9;
}

.input-field {
  width: 50%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.3s;
  margin: 0.5rem 0; /* Add margin for spacing between input fields */
}

/* Add a focus style */
.input-field:focus {
  border-color: #007bff;
}



